{% comment %} <h2>My Works</h2>

<table>
    <tr>
        <th>Work</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for item in data %}
    <tr>
        <td>{{ item.assignment.work_type.name }}</td>

        <td>
            {% if item.submission %}
                {{ item.submission.status|title }}
            {% else %}
                Pending
            {% endif %}
        </td>

        <td>
            {% if item.is_pending %}
                <a href="{% url 'submit_work' item.assignment.id %}">
                    Submit
                </a>
            {% else %}
                Submitted
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table> {% endcomment %}
